{% extends 'base_app/base.html' %}

{% block content %}
    <h1>Главная страница</h1>
    <div class="row justify-content-start">
    {% for el in object_list %}
        <div class="col-4">
            <div class="card m-3" style="width: 23rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ el.title }}</h5>
                    <p class="card-text">{{ el.description }}</p>
                    {% if el.lectors %}
                    <p class="card-text">Категория: {{ el.category }}</p>
                    {% endif %}
                    <a href="{% url 'base_app:course_detail' el.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

